@font-face {
  font-family: "urw_dinregular";
  src: url("../URWDIN-Regular.woff2") format("woff2"),
    url("../URWDIN-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body,
.viewport {
  width: 100%;
  /* height: 100%; */
  margin: 0;
  font-family: "urw_dinregular";
  font-size: 16px;
}

.flex-container {
  width: 100%;
  height: 100vh;
  display: inline-flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #000;
}

.flex-direction {
  flex-direction: row;
}

/* .flex-container > * {
  flex: 1 100%;
} */

#background-vid {
  object-fit: cover;
  width: 55vw;
  min-width: 620px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.search-main {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #000;
  width: 50%;
  min-width: 620px;
  height: 100%;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.background-gradient {
  position: absolute;
  width: 100vw;
  min-width: 620px;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));
}

.list-main {
  position: relative;
  background: rgb(61, 61, 61);
  color: #fff;
  width: 50vw;
  min-width: 500px;
  height: 100%;
  border-left: 1px solid rgba(54, 212, 54, 0.3);
  border-radius: 24px 0px 0px 24px;
  box-shadow: -5px 3px 0px 0px rgba(10, 97, 25, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

lord-icon {
  margin-left: -3%;
  padding: 0px;
  width: 100px;
  height: 100px;
}

h1 {
  position: relative;
  color: rgb(54, 212, 54);
  font-family: "Exo 2";
  font-size: 3em;
  text-transform: uppercase;
  margin: 0% 0% 3% 0%;
}

h2 {
  font-family: "Exo 2";
  font-size: 1.5em;
  text-transform: uppercase;
  align-self: flex-start;
  margin: 8% 0% 5% 4%;
  z-index: 1;
}

.line {
  width: 90%;
  height: 0;
  border: 1px solid rgb(54, 212, 54);
  display: inline-block;
  align-self: flex-start;
  margin: -1% 0% 2% 5%;
}

.searchbar-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-bottom: 40px;
  margin-top: 20px;
}

.searchbar {
  position: relative;
  border: 1px solid rgb(10, 97, 25);
  background-color: rgb(61, 61, 61);
  display: flex;
  border-radius: 24px;
  box-shadow: 0px 3px 10px 2px rgba(10, 97, 25, 0.3);
  height: 2.5em;
  width: 80%;
  align-items: center;
  justify-content: center;
}

input {
  position: relative;
  background-color: rgb(61, 61, 61);
  cursor: text;
  caret-color: rgb(54, 212, 54);
  color: rgb(54, 212, 54);
  width: 90%;
  height: 2em;
  border: none;
  font-size: 1em;
  line-height: 2em;
  vertical-align: middle;
  font-family: "Exo 2";
}

input::-webkit-input-placeholder {
  line-height: 2em;
  height: 2em;
  font-size: 1em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
  font-family: "Exo 2";
  font-size: 1rem;
}

input:focus-visible {
  outline: none;
}

.searchbar-submit {
  position: relative;
  background-color: rgb(54, 212, 54);
  border-radius: 24px;
  color: #000;
  box-shadow: 0px 3px 10px 2px rgba(10, 97, 25, 0.5);
  text-transform: uppercase;
  font-family: "Exo 2";
  font-weight: 900;
  font-size: 90%;
  border: 0px;
  height: 2.5em;
  width: 20%;
  min-width: fit-content;
  padding: 0px 5px;
  margin-left: 15px;
}

button:hover {
  background-color: rgb(10, 97, 25);
  cursor: pointer;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0px 0px;
}

ol.top-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65%;
  padding: 0px;
  text-align: start;
}

.results-container {
  position: relative;
  background: rgba(44, 44, 44, 0.9);
  box-shadow: 0px 3px 10px 2px rgba(10, 97, 25, 0.2);
  border-radius: 24px;
  height: 45%;
  width: 70%;
  padding: 3% 0%;
}

.results-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 4%;
}

.results-icon {
  max-width: 25%;
  height: auto;
  margin-right: 5%;
}

.results-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.asset-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid white; */
  height: 13%;
  margin-top: 0.7%;
}

.asset-code {
  font-size: 4em;
  margin-bottom: 0%;
}

.asset-name {
  width: auto;
  font-size: 1.2em;
}

.asset-prices-container {
  font-size: 1em;
  width: 90%;
  margin-top: 0%;
  height: 60%;
}

#current-price {
  font-size: 1.7em;
  margin-bottom: -1%;
}

.list-item {
  width: 100%;
  height: 20%;
  list-style-position: inside;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.list-item:hover {
  background-color: rgb(72, 72, 72);
}

.list-rank {
  margin: 0% 1.5% 0% 0%;
  font-size: 110%;
}

.list-icon {
  width: 3%;
  border: 3px solid grey;
  border-radius: 50px;
  margin: 1% 1.5% 1.5% 0%;
}

.list-name {
  margin: 0% 6% 0% 0%;
  color: rgb(170, 170, 170);
  font-size: 85%;
  width: 22%;
  text-align: start;
}

.list-symbol {
  text-transform: uppercase;
  margin: 0% 1.5% 0% 0%;
  font-size: 110%;
  width: 11%;
}

.list-price {
  margin: 0% 4% 0% 0%;
  font-size: 110%;
  text-align: start;
  width: 16%;
}

.change-24hr {
  margin: 0% 2% 0% 0%;
  width: 12%;
  text-align: start;
  font-size: 85%;
  min-width: fit-content;
}

.change-7d {
  margin: 0% 0% 0% 0%;
  text-align: start;
  font-size: 85%;
  width: 11%;
  min-width: fit-content;
}

.list-title {
  display: flex;
  flex-direction: row;
  color: rgb(170, 170, 170);
  font-size: 70%;
  text-align: start;
  width: 100%;
  justify-content: center;
}

.title-coin {
  margin: 0% 6% 0% 0%;
  width: 42%;
}

.title-price {
  width: 16%;
  margin: 0% 4% 0% 0%;
}

.title-24hr {
  margin: 0% 2% 0% 0%;
  width: 12%;
}

.title-7d {
  width: 11%;
}

.material-icons {
  margin: 0% -2% 0% 0%;
}

.search-error {
  position: absolute;
  top: 68%;
}

#error-image {
  position: absolute;
  top: 8%;
}

.list-credit {
  font-size: 65%;
  color: rgb(170, 170, 170);
  position: absolute;
  z-index: 22;
  bottom: 2%;
  right: 3%;
}

#credit-logo {
  display: display-inside;
  width: 80px;
  margin-bottom: -5.6%;
  margin-left: 6px;
  opacity: 0.6;
}

.list-gradient {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 500px) {
  html,
  body,
  .viewport {
    font-size: 12px;
    min-width: 320px;
    width: 100vw;
  }

  .flex-direction {
    flex-direction: column;
  }

  .flex-container {
    width: auto;
    height: auto;
    min-width: 320px;
  }

  #background-vid {
    display: none;
    min-width: 320px;
  }

  .background-gradient {
    min-width: 320px;
  }

  .search-main {
    width: 100vw;
    height: 700px;
    min-width: 320px;
  }
  .list-main {
    width: 100vw;
    min-width: 320px;
    height: 700px;
    /* border-top: 1px solid rgb(54, 212, 54); */
    border-left: 0px;
    border-radius: 0px;
  }

  h1 {
    font-size: 2.5em;
  }

  lord-icon {
    width: 60px;
    height: 60px;
  }
  .results-container {
    box-shadow: 0px 3px 8px 3px rgba(10, 97, 25, 0.4);
    width: 80%;
    padding: 3% 0%;
  }

  .searchbar-container {
    width: 80%;
  }

  .searchbar {
    box-shadow: 0px 3px 10px 2px rgba(10, 97, 25, 0.5);
  }

  input {
    height: 85%;
    font-size: 1.4rem;
  }

  .list-gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgb(61, 61, 61));
    width: 100%;
    height: 120px;
  }
}
