html,
body,
.viewport {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Open Sans";
}

.flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #000;
}

#background-vid {
  object-fit: cover;
  width: 65vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.search-main {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #000;
  width: 60%;
  height: 100%;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.background-gradient {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));
}

.list-main {
  position: relative;
  background: rgb(61, 61, 61);
  color: #fff;
  width: 40%;
  height: 100%;
  border-radius: 24px 0px 0px 24px;
  box-shadow: -5px 3px 0px 0px rgb(10, 97, 25);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  position: relative;
  color: rgb(54, 212, 54);
  font-family: "Exo 2";
  font-size: 3em;
  text-transform: uppercase;
}

h2 {
  font-family: "Exo 2";
  font-size: 1.5em;
  text-transform: uppercase;
  z-index: 5;
}

.searchbar-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-bottom: 40px;
  margin-top: 20px;
}

.searchbar {
  position: relative;
  background-color: rgb(61, 61, 61);
  display: flex;
  border-radius: 24px;
  height: 2.5em;
  width: 80%;
  align-items: center;
  justify-content: center;
}

input {
  position: relative;
  background-color: rgb(61, 61, 61);
  cursor: text;
  caret-color: rgb(54, 212, 54);
  color: rgb(54, 212, 54);
  width: 90%;
  height: 34px;
  border: none;
  font-size: 16px;
  height: 34px;
  line-height: 34px;
}

input:focus-visible {
  outline: none;
}

.searchbar-submit {
  position: relative;
  background-color: rgb(54, 212, 54);
  border-radius: 24px;
  color: #000;
  text-transform: uppercase;
  font-family: "Exo 2";
  font-weight: 900;
  border: 0px;
  height: 2.5em;
  width: 20%;
  min-width: fit-content;
  padding: 0px 5px;
  margin-left: 15px;
}

button:hover {
  background-color: rgb(10, 97, 25);
  cursor: pointer;
}

.results-container {
  position: relative;
  background: rgb(44, 44, 44);
  border-radius: 24px;
  height: 50%;
  width: 70%;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70%;
  margin: 0px 30px;
}

ol.top-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80%;
}
